{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title mt-5">Liste des épisodes</h1>

    <table class="table">
        <thead>
            <tr class="tableTitles">
                <th>Série</th>
                <th>Saison</th>
                <th>Ep N°</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Résumé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td class="col-md-2">{{ episode.season.program.title }}</td>
                <td class="col-md-1">{{ episode.season.number }}</td>
                <td class="col-md-1">{{ episode.number }}</td>
                <td class="col-md-3">{{ episode.title }}</td>
                <td class="col-md-4">{{ episode.synopsis| u.truncate(100, '...') }}</td>
                <td class="col-md-1">
                    <a href="{{ path('episode_show', {'id': episode.id}) }}">voir</a>
                    <a href="{{ path('episode_edit', {'id': episode.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun épisode trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('episode_new') }}" class="btn btn-primary mt-3">Nouvelle saison</a>
</div>

{% endblock %}
