{% extends "base.html.twig" %}

{% block title %}WS2-programmes{% endblock %}

{% block body %}
<div class="container mt-5">
   <h1 class="title mb-5">Liste des séries:</h1>
   {% for program in programs %}
      <a href="{{path('program_show', { 'id': program.id }) }}"><h2 class="subtitle">{{ loop.index }} - {{ program.title }} - Catégorie : {{ program.category.name }}</h2></a>
       <p class="justify">{{ program.summary }}</p>
   {% else %}
      Aucune série trouvée.
   {% endfor %}

   <a href="{{path('program_new')}}" class="btn btn-primary mt-3">Ajouter une série</a>
</div>
<div class="returnLink">
   <a href="{{ path('app_index') }}">
      Retour à l'accueil
   </a>
</div>

{% endblock %} 