{% extends "base.html.twig" %}

{% block title %}WS2 - {{program.title}}{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="programDetails flex">
       <div class="poster">
          <img class="posterImg align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
       </div>
       <div class="media-body">
          <h1 class="title mt-0">{{ program.title }} - Saison {{season.number}} </h1>
          <p><span class="subtitle">Catégorie :</span> {{ program.category.name }}</p>
          <p>{{season.description}}</p>
          <p class="subtitle">Episodes:</p>
          <div class="flex flex-row">
            {% for episode in episodes %}
            <div class="card" style="width: 18rem;">
               <div class="card-body">
                 <h5 class="card-title">{{episode.title}}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">episode {{episode.number}}</h6>
                 <!-- use string-extra got from composer to get twig truncate filter to use with u filter-->
                 <p class="card-text">{{episode.synopsis | u.truncate(100, '...')}}</p>
                 <a href="{{path('program_episode_show', { 'programId': program.id, 'seasonId':season.id, 'episodeId':episode.id }) }}" class="card-link">Voir plus</a>
               </div>
             </div>
            {% endfor %}
          </div>
       </div>
    </div>
 </div>
 <div class="returnLink">
    <a href="{{ path('program_show', { 'id': program.id })}}">
       Retour à la fiche de la série
    </a>
 </div>
{% endblock %}