{% extends "base.html.twig" %}

{% block title %}WS2 - {{program.title}}{% endblock %}

{% block body %}
<div class="container mt-5">
   <div class="programDetails flex">
      <div class="poster">
         {# display uploaded program poster if exists, default poster otherwise#}
         {% if program.poster %}
         <img class="card-img-top" src="{{ vich_uploader_asset(program) }}" alt="{{program.title}} poster" style="width: 30rem;">
         {% else %}
         <img src="{{ asset('build/images/default_poster.png') }}" alt="{{program.title}} poster" style="width: 30rem;"/>
         {% endif %}      
      </div>
      <div class="media-body" style="width:-webkit-fill-available;">
         <h1 class="title mt-0">{{ program.title }}</h1>
         <p class="justify">{{ program.summary }}</p>
         <p><span class="subtitle">Catégorie :</span> {{ program.category.name }}</p>
         <p><span class="subtitle">1ère diffusion :</span> {{ program.year }}</p>
         <p><span class="subtitle">Saisons :</p>
         <div class="flex flex-row">
            {% for season in seasons %}
            <div class="card" style="width: 18rem;">
               <div class="card-body flex flex-column">
                 <h5 class="card-title">Saison {{season.number}}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">année : {{season.year}}</h6>
                 <!-- use string-extra got from composer to get twig truncate filter to use with u filter-->
                 <p class="card-text">{{season.description | u.truncate(100, '...')}}</p>
                  <div class="flex justify-content-end mt-auto">
                     <a href="{{path('program_season_show', { 'program': program.id, 'season':season.id }) }}" class="btn btn-primary">Voir plus</a>
                  </div>
               </div>
             </div>
            {% endfor %}
         </div>
         <div class = "flex flex-row justify-content-between">
            <a href="{{ path('program_edit', {'id': program.id}) }}" class="btn btn-primary col-md-2 mt-3">Modifier</a>
                {{ include('program/_delete_form.html.twig') }}
          
        </div>
      </div>
   </div>
</div>
<div class="returnLink">
   <a href="{{ path('program_index') }}">
      Retour à la liste des séries
   </a><br />
   <a href="{{path('category_show', {'categoryName' : program.category.name}) }}">
      Retour à la liste des séries de la catégorie {{ program.category.name }}
   </a>
</div>
{% endblock %}
