{% extends "base.html.twig" %}

{% block title %}WS2 - {{program.title}}{% endblock %}

{% block body %}
<div class="container mt-5">
   <div class="programDetails flex">
      <div class="poster">
         <img class="posterImg align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
      </div>
      <div class="media-body">
         <h1 class="title mt-0">{{ program.title }}</h1>
         <p class="justify">{{ program.summary }}</p>
         <p><span class="subtitle">Catégorie :</span> {{ program.category.name }}</p>
         <p><span class="subtitle">Saisons :</p>
         <div class="flex flex-row">
            {% for season in seasons %}
            <div class="card" style="width: 18rem;">
               <div class="card-body">
                 <h5 class="card-title">Saison {{season.number}}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">année : {{season.year}}</h6>
                 <!-- use string-extra got from composer to get twig truncate filter to use with u filter-->
                 <p class="card-text">{{season.description | u.truncate(100, '...')}}</p>
                 <a href="#" class="card-link">Voir plus</a>
               </div>
             </div>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
<div class="returnLink">
   <a href="{{ path('program_index') }}">
      Retour à la liste des programmes
   </a>
</div>
{% endblock %}
