{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ actor.firstname }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ actor.lastName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ actor.birthDate ? actor.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actor_index') }}">back to list</a>

    <a href="{{ path('actor_edit', {'id': actor.id}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
