{% if total > 0 %}
   {# number of pages: total nb of episodes / limit rounded to upper number #}
   {% set pages = ((total/limit)|round(0,'ceil')) %}
   <ul class="pagination">
       <li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
           <a class="page-link" href="?page=1">
               <<
           </a>
       </li>
       <li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
           <a class="page-link" href="{{ (page>1) ? '?page=' ~ (page-1) : '' }}">
               <
           </a>
       </li>

       {% for item in 1..pages%} {# from 1 to number of pages #}
           <li class="{{ (page == item) ? 'page-item active' : 'page-item' }}">
               <a class="page-link" href="?page={{ item }}">{{ item }}</a>
           </li>
       {% endfor %}
       <li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
           <a class="page-link" href="{{ (page<pages) ? '?page=' ~ (page+1) : '' }}">
               >
           </a>
       </li>
       <li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
           <a class="page-link" href="?page={{ pages }}">
               >>
           </a>
       </li>
   </ul>
{% endif %}
